[project]
name = "youtube-clone"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "django>=6.0.1",
    "imagekitio>=5.0.0",
    "python-dotenv>=1.2.1",
]
